extends layout.jade
<!-- 주석테스트 -->

block content
  script.
    $(document).ready(function () {
      
      $('#indexbutton').click(function(){
        if($('.index').width() < 200)
        { $('.index').css('width', '250px') }
        else
        { $('.index').css('width', '0px') }
      });        
      
      if ($(window).width() < 985 )
      {  $('#contents').css('width', '99%');}
      else 
      {  $('#contents').css('width', '100%').css('width', '-=250px'); }

      
      $(window).resize(function() { 
        // 컨텐츠박스 리사이징 
        if ($(window).width() < 985 )
        {  
          $('#contents').css('width', '99%')
          $('.index').css('width', '0px') // index 리사이징
        }
        else 
        {  
          $('.index').css('width', '250px') // index 리사이징  
          $('#contents').css('width', '100%').css('width', '-=250px'); //컨텐츠박스 리사이징 
        }
      });
    });
 
  style.
    #contents{
      float : right;
      min-height : 80%;
      background-color : white;
      text-align : center;
      
      
      transition : 0s;
    }
    
    #homeImgDiv{
      
    }
    
    #head_Title{
      
      padding-top : 20px;  
      font-size: 28px;
      font-weight: bold;
      font-kerning: auto;
      line-height : 45px;
      letter-spacing: -1px;
      text-shadow: 5px 5px 5px lightGray;
      
      color : black;
    }
    
    .image{
      margin-top : 180px;
      margin-left : 20px;
      width : 250px;
      height : auto;
      
    }
    
    
    @media (max-width:980px) {
      #contents{
        width : 99%;
        margin-right : 0.5%;
      }
      
    }
    
  div#contents
    div#homeImgDiv
      img.image(src='/Posts/13/Logo.png')
      p#head_Title Sloped News Title <br> 기울어진 뉴스기사<br><br><br>
        
      
      
