extends layout.jade
<!-- 주석테스트 -->

block content
  script.
    $(document).ready(function () {
      
      $('#indexbutton').click(function(){
        if($('.index').width() < 200)
        { $('.index').css('width', '250px') }
        else
        { $('.index').css('width', '0px') }
      });        
      
      if ($(window).width() < 985 )
      {  $('#contents').css('width', '99%');}
      else 
      {  $('#contents').css('width', '100%').css('width', '-=250px'); }

      
      if ($(window).width() < 985 )
      {  $('#head_TempDiv').css('width', '99%');}
      else 
      {  $('#head_TempDiv').css('width', '100%').css('width', '-=250px'); }

      $(window).resize(function() { 
        // 컨텐츠박스 리사이징 
        if ($(window).width() < 985 )
        {  
          $('#contents').css('width', '99%')
          $('.index').css('width', '0px') // index 리사이징
          $('#head_TempDiv').css('width', '99%');   
        }
        else 
        {  
          $('.index').css('width', '250px') // index 리사이징  
          $('#contents').css('width', '100%').css('width', '-=250px'); //컨텐츠박스 리사이징 
          $('#head_TempDiv').css('width', '100%').css('width', '-=250px');
        }
      });
    });

  style.
    #contents{
      float : right;
      //height : 500%;
      background-color : white;
      text-align : center;
      
      transition : 0s;
    }
    
    #content_head{
      
      width : 100%;
      height : 300px;
      
      border-bottom-width : 1px;
      border-bottom-style : dotted;
      border-bottom-color : black;
      
    }
    
    #head_TempDiv{
      z-index : 2;
      position : absolute;
      height : 300px;
      text-align : center;
    }
    
    #head_Title{
      
      padding-top : 130px;  
      font-size: 32px;
      font-weight: bold;
      font-kerning: auto;
      line-height : 25.5px;
      letter-spacing: -1px;
      text-shadow: 5px 5px 5px lightGray;
      
      color : black;
    }
    
    #headimage{
      z-indes : -10;
      position : absolute;
      margin-left : -250px;
      width : 100%;
      height : 300px;
      overflow : hidden;
    
    }
    
    .image{
      z-indes : -10;
      width : 100%;
      height : auto;
    }
    
    
    
    #content_Main{
      display : inline-block;
      width : 75%;
      height : 120%;
      text-align : left;
      margin-top : 20px;
      
      background-color : white;
    }
    
    .content_P{
      padding : 2px;
      padding-top : 20px;
      padding-bottom : 0px;
      height : auto;
      
      font-size: 18px;
      font-weight: thin;
      font-kerning: auto;
      line-height : 36.5px;
      letter-spacing: -1px;
      
      color : rgb(120,120,120); 
    }
    
    .contentHR{
      margin-top : 45px;
      margin-bottom : 45px;
    }
    
    #title{
      font-weight: bold;
    }
    
    #name {
      font-weight : light;
      font-size : 16px;
    }
    
    #video-wrap {
      z-index = 10;
      margin-top : 80px;
      margin-bottom : 35px;
      
      margin-left : 0.7%;
      width : 98%;
      
      position : relative; 
      padding-bottom : 56.25%; 
      padding-top : 30px; 
      height : 0; 
      overflow : hidden;
    }
    #video-wrap iframe,
    #video-wrap object,
    #video-wrap embed {
      position : absolute; 
      top : 0; 
      left : 0; 
      width : 100%; 
      height : 100%;
    }

    #DetailYoutube{
        position : absolute;
    }
    
    .Bottom{
      margin-top : 100px;
      height : 100px;
    }
    
    @media (max-width:980px) {
      #contents{
        width : 99%;
        margin-right : 0.5%;
      }
      
      #content_head{
        height : 250px;
      }
      
      #headimage{
        height : 250px;
      }
      
      #content_Main{
        width : 90%;
        padding-left : 4.5%;
        padding-right : 4.5%;
      }
      
      #headimage{
        width : 99%;
        margin-left : 0px;
      }
      
      #head_Title{
        font-size : 28px;
      }
      
      #title{
        font-size : 20px;
      }
      
      #name{
        font-size : 20px;
      }
      
      .contentHR{
        margin-top : 25px;
        margin-bottom : 25px;
      }
      
      #video-wrap{
        margin-top : 45px;
        margin-bottom : 0px;
        padding-bottom : 100%; 
      
    }
    
  div#contents
    div#content_head
      div#headimage
        //img.image(src='/Posts/13/index1title.png')
      div#head_TempDiv
        p#head_Title Preface
    div#content_Main
      div.content_P
        p.content_P
        p.content_P#body  <b>개요</b> <br> <br> 뉴스 기사의 제목을 정하는 규칙이 남/여 두 성별에 공평하게 적용되지 않는다는 것은 잘 알려진 사실입니다. <br> 저는 이 사실에 문제의식을 가지고, 경향신문 인터랙티브 특별기획 <a link="http://news.khan.co.kr/kh_storytelling/2019/labordeath/?fbclid=IwAR1J22nsO7BUjBuZiZWeMvN2emkU-QaqTv0z5Xve14pVER-VOijMGcoZPT0">"매일 김용균이 있었다"</a>로부터 영감을 받아 <br> Sloped News Title, 기울어진 기사제목이라는 프로젝트를 기획했습니다. 빅카인즈를 통해 얻어진 <br> 기사 데이터의 개별적인 성향을 분석하고 모아 보여주는 것으로써 전체적인 기울기를 확인할 수 있도록 구성했습니다.
        p.content_P#body  <br><b>수집대상</b> <br><br> 2019년 10월 사이의 범죄를 보도한 기사 제목들 (약 천건) <br><br> <b>규칙</b> <br><br> 범죄를 서술하는 내용이 가해자 or 피해자가 인식됨에 있어 유리 or 불리한가? <br> = 유리한 경우 해당 성별에 +1 불리한 경우 -1 <br> <br>행동의 동기나 평가가 서술되어 있는가? <br> = 동기의 경우 해당 성별에 +1 평가의 경우 -1 <br><br> 범죄 호칭이 간접적으로 서술되어 있는가? <br> = 서술되어 있다면 해당 성별에 +1 <br> <br>한쪽 성별만 호명하고 있는가? <br> = 호명하고 있다면, 호명된 성별에 -1
        p.content_P 
        p.content_P
        p.Bottom
