extends layout.jade
<!-- 주석테스트 -->

block content
  script.
    $(document).ready(function () {
      
      $('#indexbutton').click(function(){
        if($('.index').width() < 200)
        { $('.index').css('width', '250px') }
        else
        { $('.index').css('width', '0px') }
      });        
      
      if ($(window).width() < 985 )
      {  $('#contents').css('width', '99%');}
      else 
      {  $('#contents').css('width', '100%').css('width', '-=250px'); }

      
      if ($(window).width() < 985 )
      {  $('#head_TempDiv').css('width', '99%');}
      else 
      {  $('#head_TempDiv').css('width', '100%').css('width', '-=250px'); }

      $(window).resize(function() { 
        // 컨텐츠박스 리사이징 
        if ($(window).width() < 985 )
        {  
          $('#contents').css('width', '99%')
          $('.index').css('width', '0px') // index 리사이징
          $('#head_TempDiv').css('width', '99%');   
        }
        else 
        {  
          $('.index').css('width', '250px') // index 리사이징  
          $('#contents').css('width', '100%').css('width', '-=250px'); //컨텐츠박스 리사이징 
          $('#head_TempDiv').css('width', '100%').css('width', '-=250px');
        }
      });
    });

  style.
    #contents{
      float : right;
      //height : 500%;
      background-color : white;
      text-align : center;
      
      transition : 0s;
    }
    
    #content_head{
      
      width : 100%;
      height : 300px;
      
      border-bottom-width : 1px;
      border-bottom-style : dotted;
      border-bottom-color : black;
      
    }
    
    #head_TempDiv{
      z-index : 2;
      position : absolute;
      height : 300px;
      text-align : center;
    }
    
    #head_Title{
      
      padding-top : 130px;  
      font-size: 32px;
      font-weight: bold;
      font-kerning: auto;
      line-height : 25.5px;
      letter-spacing: -1px;
      text-shadow: 5px 5px 5px lightGray;
      
      color : black;
    }
    
    #headimage{
      z-indes : -10;
      position : absolute;
      margin-left : -250px;
      width : 100%;
      height : 300px;
      overflow : hidden;
    
    }
    
    .image{
      z-indes : -10;
      width : 100%;
      height : auto;
    }
    
    
    
    #content_Main{
      display : inline-block;
      width : 75%;
      height : 120%;
      text-align : left;
      margin-top : 20px;
      
      background-color : white;
    }
    
    .content_P{
      padding : 2px;
      padding-top : 20px;
      padding-bottom : 0px;
      height : auto;
      
      font-size: 18px;
      font-weight: thin;
      font-kerning: auto;
      line-height : 36.5px;
      letter-spacing: -1px;
      
      color : rgb(120,120,120); 
    }
    
    .contentHR{
      margin-top : 45px;
      margin-bottom : 45px;
    }
    
    #title{
      font-weight: bold;
    }
    
    #name {
      font-weight : light;
      font-size : 16px;
    }
    
    #video-wrap {
      z-index = 10;
      margin-top : 80px;
      margin-bottom : 35px;
      
      margin-left : 0.7%;
      width : 98%;
      
      position : relative; 
      padding-bottom : 56.25%; 
      padding-top : 30px; 
      height : 0; 
      overflow : hidden;
    }
    #video-wrap iframe,
    #video-wrap object,
    #video-wrap embed {
      position : absolute; 
      top : 0; 
      left : 0; 
      width : 100%; 
      height : 100%;
    }

    #DetailYoutube{
        position : absolute;
    }
    
    .Bottom{
      margin-top : 100px;
      height : 100px;
    }
    
    @media (max-width:980px) {
      #contents{
        width : 99%;
        margin-right : 0.5%;
      }
      
      #content_head{
        height : 250px;
      }
      
      #headimage{
        height : 250px;
      }
      
      #content_Main{
        width : 90%;
        padding-left : 4.5%;
        padding-right : 4.5%;
      }
      
      #headimage{
        width : 99%;
        margin-left : 0px;
      }
      
      #head_Title{
        font-size : 28px;
      }
      
      #title{
        font-size : 20px;
      }
      
      #name{
        font-size : 20px;
      }
      
      .contentHR{
        margin-top : 25px;
        margin-bottom : 25px;
      }
      
      #video-wrap{
        margin-top : 45px;
        margin-bottom : 0px;
        padding-bottom : 90%; 
      }
      
    }
    
  div#contents
    div#content_head
      div#headimage
        //img.image(src='/Posts/13/index1title.png')
      div#head_TempDiv
        p#head_Title 분류. 살인 (Murder)
    div#content_Main
      div.content_P
        p.content_P#title 살인사건을 다룬 뉴스 기사의 성별 기울기  
        p.content_P#name 현재 4063건 中 5건 반영됨
        p.content_P
        hr.contentHR
      div#video-wrap
        //embed#DetailYoutube(src="https://www.youtube.com/embed/X3NhKxOrsdI" frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture')
      div.content_P
        hr.contentHR
        p.content_P
        p.content_P#body  
        p.content_P#body  
        p.content_P 
        p.content_P
        p.Bottom
